.vscode/
/OneRing_Assist.tga
/OneRing_Green.tga
/OneRing_blue.tga
/OneRing_grey.tga
/OneRing_lblue.tga
/OneRing_red.tga
/OneRing_white.tga
/OneRing_yellow.tga
/TargetIndicator.ini
/UI_Shillingworth_bertox.ini
/generator/obj/**/*
/generator/bin/**/*
